{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Add or modify data of user {{ session['id'] }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.weight.label }} {{ form.weight() }}
        <br>
        {{ form.height.label }} {{ form.height() }}
        <br>
        {{ form.submit() }}
    </form>
  </div>

{% endblock %}