{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Add a new person</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}
        <br>
        {{ form.age.label }} {{ form.age() }}
        <br>
        {{ form.submit() }}
    </form>
  </div>

{% endblock %}