{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to the data of user</h1>
    <h2>Remember the id: {{ session['id'] }}</h2>
    <a href="{{ url_for('fitness.add') }}">Click here to add or modify fitness data. A better icon will come. Have faith</a>
</div>

{% endblock %}