{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Delete an existing user</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.id.label }} {{ form.id() }}
        <br>
        {{ form.submit() }}
    </form>
  </div>

{% endblock %}