{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Here is a list of all available people.</h1>
  <ul>
    {% for p in people  %}
    <li>{{p}}</li>
    {% endfor %}
  </ul>
  <div class="row">
    <div class="col-md-4", id='p1'>
      <script>
        var graphs = {{ p1 | safe }}
        Plotly.plot('p1',graphs,{});
      </script>
    </div>
    <div class="col-md-4", id="p2">
      <script>
        var graphs = {{ p2 | safe }}
        Plotly.plot('p2',graphs,{});
      </script>
    </div>
    <div class="col-md-4", id="p3">
      <script>
        var graphs = {{ p3 | safe }}
        Plotly.plot('p3',graphs,{});
      </script>
    </div>
  </div>
</div>

{% endblock %}
