{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron">
        <h1>Welcome to this awesome website</h1>
        <p>Use the upper bar to navigate. I'm to lazy to add buttons here!</p>
    </div>

{% endblock %}